/* Ubuntu Font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* Exo Font */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300&display=swap');
h1{
    font-family: 'Ubuntu', sans-serif;
}
header{
    backdrop-filter: blur(7px);
}
header img{
    width: 40px;
}
header ul li a{
    color: rgb(42, 213, 36) !important;
}
header ul li a:hover{
    color: rgb(80, 152, 78) !important; 
    border-bottom: 2px solid rgb(42, 213, 36);

}
.active{
    border-bottom: 2px solid rgb(42, 213, 36);
}
.banner{
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}
.banner .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/*  */
.text-h2-small h2{
    color: #000000;
    font-size: 34px;
}
.text-h2 {
    position: relative;
    white-space: nowrap;
}
.text-h2::before {
    content: "";
    position: absolute;
    right: 0;
    width: 3px;
    height: 100%;
    background: black;
    animation: blinkcursor 0.8s infinite;
}
.text-h2 h2 {
    color: #000000;
    font-size: 60px;
    text-transform: uppercase;
    animation: typing 8s steps(20) infinite;
    overflow: hidden;
}
@keyframes typing {
    0%,
    90%,
    100%{
    width: 0;
    }
    30%,
    60% {
    width: 630px;
    }
}
@keyframes blinkcursor {
    0%,
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
svg{
    bottom: 0px;
}
.card{
    overflow: hidden;
    border: none;
}
.card-img-top{
    height: 140px;
}
.card-img-top:hover{
    transform: scale(1.2,1.2);
}
.card .btn{
    width: 40%;
}
.overflow{
    overflow: hidden;
}
/* Weather */
.weather-ctn{
    margin-top: 140px;
}
.weather {
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather iframe {
    z-index: 2;
    border-radius: 10px;
}
.weather::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 500px;
    height: 550px;
    background-color: rgba(42, 213, 36 ,0.4);
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.weather-text{
    margin-bottom: 50px;
    font-family: 'Exo 2', sans-serif;
}
/* Contact Form */
.contact-us {
    width: 80%;
    margin: 140px auto 50px;
    background: #f1f1f1;
    padding: 30px 40px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    font-family: kalam;
}
.contact-us h1 {
    font-weight: bolder;
}
.form-txt {
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}
.form-txt label {
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}
.form-txt input,
.form-txt textarea {
    width: 100%;
    border: none;
    font-size: 18px;
    margin-top: 10px;
}
.contact-us .btn {
    display: block;
    background: #232324;
    padding: 14px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
}
.contact-us .btn:hover {
    display: block;
    background: #596fb6;
    padding: 14px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
}
/* Footer */
footer {
    margin-top: 140px;
    background-color: #232323;
    width: 100%;
    color: #ffffff;
}
.footer {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 500px;
    margin-top: 60px;
    padding-top: 60px;
}
.foot1 i {
    margin-top: 20px;
    color: #232323;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 4px;
}
.foot1 p {
    max-width: 300px;
}
.footer ul li {
    list-style: none;
    color: #ffffff;
    padding: 7px 0;
}
.foot1 i:hover,
.footer ul li:hover {
    color: var(--btn__bg__color);
}
.footer ul a {
    text-decoration: none;
}
.foot1 h4,
.foot2 h4,
.foot3 h4,
.foot4 h4 {
    padding-bottom: 20px;
}  
@media screen and (max-width: 769px) {
    .weather::before{
        display: none;
    }
    .text-h2 h2{
        font-size: 30px;
    }
    @keyframes typing{
        30%,
        60% {
        width: 70%;
        }
    }
}
@media screen and (max-width: 990px) {
    svg{
        bottom: 20px;
    }
}
